<div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-25">
          <label for="fname">Full Name <em>*</em></label>
        </div>
        <div class="col-75">
          <input type="text" required id="name" name="name" placeholder="Enter full name.."formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        </div>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required" class="error-message">Name is required</div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Email <em>*</em></label>
        </div>
        <div class="col-75">
            <input type="text" required id="email" name="email" placeholder="Enter Email-Id.."formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" class="error-message">Email is required</div>
            <div *ngIf="f.email.errors.email" class="error-message">Email must be a valid email address</div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Phone <em>*</em></label>
        </div>
        <div class="col-75">
            <input type="text" required id="phone" name="phone" placeholder="Enter phone number.." formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
        </div>
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
            <div *ngIf="f.phone.errors.required" class="error-message">Phone is required</div>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="message">Message <em>*</em></label>
        </div>
        <div class="col-75">
          <textarea id="message" formControlName="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
        </div>
        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
            <div *ngIf="f.message.errors.required" class="error-message">Message is required</div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary mr-1">Post Your Query</button>
      </div>
      <div class="row" [innerHtml]="message" style="padding-top: 1.1em;"> </div>
    </form>
  </div>
