<div id="resp-table">
    <div class="resp-table-row">
        <div class="table-body-cell" style="width: 23%;">
            <img src="/assets/img/left.gif" style="width: 100%;height: 100%;vertical-align: baseline;">
        </div>
        <div class="table-body-cell">
            <app-carousel></app-carousel>            
        </div>
        <div class="table-body-cell" style="width: 23%;">
            <img src="/assets/img/left.gif" style="width: 100%;height: 100%;vertical-align: baseline;">
        </div>
    </div>
    <div class="resp-table-row">
        <div class="table-body-cell">
            <hr/>
        </div>
        <div class="table-body-cell">
            <hr/>
        </div>
        <div class="table-body-cell">
            <hr/>
        </div>
    </div>
    
    <div class="resp-table-row">
        <div class="table-body-cell" style="border-right: 1px solid gray;">
            <div class="container">
                <form action="/action_page.php">
                  <div class="row">
                    <div class="col-25">
                      <label for="name">Name</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="name" name="name" placeholder="Your name..">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="email">Email</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="email" name="email" placeholder="Your Email-Id..">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="subject">Quote</label>
                    </div>
                    <div class="col-75">
                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <input type="submit" value="Post Your Quote">
                  </div>
                </form>
              </div>
        </div>
        <div class="table-body-cell" style="padding-left: 0.5em;">
            <p class="para-header">
                Give photos helpful captions
            </p>
            <p>
                This one is something I learned working on the high school newspaper (thanks Mrs. Finegan!).

                While people may only skim your article’s body text, they’re likely to look at the photos and thoroughly read the captions.

                So always write captions that fully explain both the photo and the key idea represented in the photo.  Don’t assume anyone looking at your in-text photo has actually read the paragraph next to it.

                The data suggests that you’re probably not reading this anymore, but here’s my best advice on blog formatting anyway.  Don’t take people’s tendency not to read personally.

                Your job in writing your article is to help your reader learn something.

                Yes, you’ll probably spend a lot of time writing text that a majority of visitors won’t even read.  But that doesn’t mean you should try to trick or lure them into reading.  Give them the helpful lessons wherever they skim.

                Use headings, lists, bold text, and photos to get your message across.  People will appreciate it and reward you with a valuable Like, Tweet, Share, or Comment.

                (right?)
            </p>
        </div>
        <div class="table-body-cell" style="border-left: 1px solid gray;">
            <h3>Today's top quotes: </h3>
            <ul>
                <li>
                    <strong class="blink">New*</strong> 
                    <p class="quote-para">
                        मैं लव हूँ पर मेरी बात तुम हो,
                        और मैं तब हूँ जब मेरे साथ तुम हो।
                    </p>
                </li>
                <li>
                    <strong class="blink" >New*</strong> 
                    <p class="quote-para">
                        तू चाँद मैं सितारा होता,
                        आसमान में एक आशिया हमारा होता।
                        लोग तुझे दूर से देखा करते और
                        सिर्फ पास रहने का हक हमारा होता।
                    </p>
                </li>
                <li>
                    <strong class="blink" >New*</strong> 
                    <p class="quote-para">
                        जब खामोश आँखों से बात होती है,
                        तो ऐसे ही मोहब्बत की शुरुआत होती है,
                        तेरे ही ख्यालों में खोये रहते हैं,
                        न जाने कब दिन और कब रात होती है।
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
