<meta meta charset=utf-8>
<div id="resp-table">
    <div class="resp-table-row">
        <div class="table-body-cell" style="width: 23%;">
            <img src="/assets/img/left.gif" style="width: 100%;height: 100%;vertical-align: baseline;">
        </div>
        <div class="table-body-cell">
            <app-carousel></app-carousel>            
        </div>
        <div class="table-body-cell" style="width: 23%;">
            <img src="/assets/img/left.gif" style="width: 100%;height: 100%;vertical-align: baseline;">
        </div>
    </div>
    <div class="resp-table-row">
        <div class="table-body-cell">
            <hr/>
        </div>
        <div class="table-body-cell">
            <hr/>
        </div>
        <div class="table-body-cell">
            <hr/>
        </div>
    </div>
    
    <div class="resp-table-row">
        <div class="table-body-cell" style="border-right: 1px solid gray;">
            <div class="container">
                <form [formGroup]="quotationForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-25">
                      <label for="name">Name <em>*</em></label>
                    </div>
                    <div class="col-75">
                      <input type="text" required placeholder="Your name.." formControlName="quoteOwnerName" [ngClass]="{ 'is-invalid': submitted && f.quoteOwnerName.errors }">
                    </div>
                    <div *ngIf="submitted && f.quoteOwnerName.errors" class="invalid-feedback">
                      <div *ngIf="f.quoteOwnerName.errors.required" class="error-message">Name is required</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="email">Email <em>*</em></label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="email" formControlName="email" placeholder="Your Email-Id.." [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    </div>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required" class="error-message">Email is required</div>
                      <div *ngIf="f.email.errors.email" class="error-message">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="subject">Quote <em>*</em></label>
                    </div>
                    <div class="col-75">
                      <textarea id="subject" formControlName="quoteText" placeholder="Write something.." style="height:200px"  [ngClass]="{ 'is-invalid': submitted && f.quoteText.errors }"></textarea>
                    </div>
                    <div *ngIf="submitted && f.quoteText.errors" class="invalid-feedback">
                      <div *ngIf="f.quoteText.errors.required" class="error-message">Quote is required</div>
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-primary mr-1">Post Your Quote</button>
                  </div>
                </form>
              </div>
        </div>
        <div class="table-body-cell" style="padding-left: 0.5em;">
            <p class="para-header">
                Give photos helpful captions
            </p>
            <p>
                This one is something I learned working on the high school newspaper (thanks Mrs. Finegan!).

                While people may only skim your article’s body text, they’re likely to look at the photos and thoroughly read the captions.

                So always write captions that fully explain both the photo and the key idea represented in the photo.  Don’t assume anyone looking at your in-text photo has actually read the paragraph next to it.

                The data suggests that you’re probably not reading this anymore, but here’s my best advice on blog formatting anyway.  Don’t take people’s tendency not to read personally.

                Your job in writing your article is to help your reader learn something.

                Yes, you’ll probably spend a lot of time writing text that a majority of visitors won’t even read.  But that doesn’t mean you should try to trick or lure them into reading.  Give them the helpful lessons wherever they skim.

                Use headings, lists, bold text, and photos to get your message across.  People will appreciate it and reward you with a valuable Like, Tweet, Share, or Comment.

                (right?)
            </p>
        </div>
        <div class="table-body-cell" style="border-left: 1px solid gray;">
            <h3>Today's top quotes: </h3>

            <div *ngIf="quotes">
              <ul>
                <li *ngFor="let quote of quotes;">
                  <strong class="blink">New*</strong> 
                  <p class="quote-para">
                    {{quote.quoteText}} - By <span style="color: green;">{{quote.quoteOwnerName}}</span>
                  </p>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
